!-------------------------------------------------------------------------------
! Xft settings
!-------------------------------------------------------------------------------

Xft.autohint:                             0
Xft.lcdfilter:                            lcddefault
Xft.hintstyle:                            hintfull
Xft.hinting:                              1
Xft.antialias:                            1
Xft.dpi:                                  96
Xft.rgba:                                 rgb

!-------------------------------------------------------------------------------
! URxvt settings
!-------------------------------------------------------------------------------

URxvt.buffered:                           true
URxvt.geometry:                           80x22
URxvt.depth: 32
URxvt.transparent: false
URxvt.fading: 0
URxvt.urgentOnBell: true
! URxvt.visualBell: true
URxvt.loginShell: true
URxvt.saveLines: 0
URxvt.internalBorder: 3
URxvt.lineSpace: 0
URxvt.intensityStyles: false

! Fix font space
URxvt*letterSpace: -1.4

! Scrollbar
URxvt.scrollStyle: rxvt
URxvt.scrollBar: false

! Extensions
URxvt.perl-ext-common: default,keyboard-select,url-select,clipboard,font-size
! URxvt.keysym.M-m: perl:keyboard-select:activate
! URxvt.keysym.M-s: perl:keyboard-select:search
URxvt.keysym.M-u: perl:url-select:select_next
URxvt.keysym.M-c: perl:clipboard:copy
URxvt.keysym.M-v: perl:clipboard:paste
URxvt.keysym.C-V: perl:clipboard:paste
URxvt.keysym.M-C-v: perl:clipboard:paste_escaped
URxvt.url-select.launcher: firefox
URxvt.urlLauncher: firefox
! URxvt.matcher.rend.0: -Uline fg16
! URxvt.matcher.button: 1
URxvt.clipboard.copycmd: xclip -i -selection clipboard
URxvt.clipboard.pastecmd: xclip -o -selection clipboard
URxvt.clipboard.autocopy: true
URxvt.iso14755_52: False

URxvt.keysym.C-Up:     perl:font-size:increase
URxvt.keysym.C-Down:   perl:font-size:decrease
URxvt.keysym.C-S-Up:   perl:font-size:incglobal
URxvt.keysym.C-S-Down: perl:font-size:decglobal

! Cursor
URxvt.cursorBlink: false
! URxvt.cursorColor: #657b83
URxvt.cursorUnderline: false

! Pointer
URxvt.pointerBlank: true

#include ".Xresources.d/solarized-light"

!! font

! URxvt*font:                 xft:Monaco for Powerline:regular:size=9, xft:WenQuanYi Micro Hei Mono:regular:size=9
! URxvt*imFont:               xft:Monaco for Powerline:regular:size=9, xft:WenQuanYi Micro Hei Mono:regular:size=9
! URxvt*boldFont:             xft:Monaco for Powerline:bold:size=9, xft:WenQuanYi Micro Hei Mono:bold:size=9
! URxvt*italicFont:           xft:Monaco for Powerline:italic:size=9, xft:WenQuanYi Micro Hei Mono:italic:size=9
! URxvt*boldItalicFont:       xft:Monaco for Powerline:bold:italic:size=9, xft:WenQuanYi Micro Mono:bold:italic:size=9

! URxvt*font: xft:Inconsolata for Powerline:size=12
URxvt*font: xft:Fira Code:style=Light:size=12,xft:WenQuanYi Micro Hei Mono:regular:size=11
! URxvt*font: xft:mononoki:style=Regular:size=12,xft:WenQuanYi Micro Hei Mono:regular:size=11

! URxvt*font: xft:Meslo LG S for Powerline:style=RegularForPowerline:size=9,xft:WenQuanYi Micro Hei Mono:regular:size=9

! URxvt*font: xft:DejaVu Sans Mono for Powerline:style=Book:size=9
